.container.full {
    width: 100%;
    max-width: unset;
}

.header img.back {
    width: 20px;
    height: 20px;
}

h1.full {
    flex: 1;
    text-align: center;
}

#result.full {
    overflow-x: scroll;
}

.table-fixed {
    table-layout: fixed;
}

.presence.mini,
.presence.mini {
    padding: 0;
    width: 25px;
    height: 20px;
    font-size: 1rem;
}

th.mini,
td.mini {
    padding: 3px;
    width: 3rem;
    /* height: 15px; */
    font-size: 1rem;
}

td:first-child,
th:first-child {
    width: 10rem;
    padding: 5px;
    background: hsl(from var(--bg-color) h s l / 75%);
    backdrop-filter: blur(1px);
}