:root {
    --primary-color: #2563eb;
    --hover-color: #2053c2;
    --bg-color: #fdfdfd;

    --bg-dark-color: rgb(0, 0, 0, 0.75);
    --text-color: #010c1b;
    --text-iverted-color: #fdfdfd;
    --text-mute-color: #767676;
    --presence-color: #16a34a;
    --border-radius: 8px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;

    @media (width <=768px) {
        font-size: 12px;
    }
}

body {
    background-color: #ebeef8;
    min-height: 100vh;
    padding: 20px;

    @media (width <=768px) {
        padding: 10px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;

    &:has(.login) {
        align-items: center;
    }

    &>.login {
        display: flex;
        width: 100%;
        max-width: 420px;
        padding-top: 10vh;
        flex-direction: column;
        justify-content: center;
    }

    @media (width <=768px) {
        margin: 5px;
    }
}

.card {
    background-color: var(--bg-color);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 24px;
    margin-bottom: 24px;

    &.login {
        padding-bottom: 24px;
    }

    @media (width <=768px) {
        padding: 14px;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    flex-wrap: wrap;
    gap: 16px;

    &.login {
        display: flex;
        justify-content: center;
        justify-items: center;
    }

    & img {
        width: 32px;
        height: 32px;
        cursor: pointer;
    }

    @media (width <=768px) {
        & h1 {
            font-size: 1.45rem;

            span {
                display: none;
            }
        }
    }
}

#result {
    padding-top: 22px;
}


h1 {
    font-size: 2rem;
    color: var(--text-color);
}

.btn {
    display: flex;
    height: 40px;
    padding: 10px 16px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    align-items: center;
    text-align: center;
    gap: 8px;
    transition: all 0.3s;

    &.primary {
        background-color: var(--primary-color);
        color: var(--text-iverted-color);
    }

    &:hover {
        background-color: var(--hover-color);
    }

    & .success {
        background-color: var(--presence-color);
        color: white;
    }

    &.login {
        margin-top: 14px;
        justify-content: center;
        font-size: 1.2rem;
    }

    & img {
        width: 24px;
        height: 24px;
    }
}

@media (width <=768px) {
    .btn .btn-label {
        display: none;
    }
}

#person-add {
    display: none;

    &.show {
        display: flex;
    }
}

.input-group {
    display: flex;
    width: 100%;
    gap: 8px;

    &.login-card {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
    }
}

input,
select {
    width: 100%;
    flex: 1;
    padding: 10px;
    border: 1px solid #d1d5db;
    border-radius: var(--border-radius);
    font-size: 1rem;
    outline: none;
}

input:focus {
    border-color: #2563eb;
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.1);
}

input[type="number"] {
    max-width: 60px;
    color: var(--text-mute-color);

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        opacity: 1;
    }

    @media (width <=768px) {
        max-width: 40px;
        height: 43px;
        padding: 10px;
    }
}

label {
    color: var(--text-mute-color);

    @media (width <=768px) {
        display: none;
    }
}

#person-name {
    flex: 2;

    & div {
        display: flex;
        justify-content: space-between;
    }
}

.person-name div {
    display: flex;
    justify-content: space-between;
}

#person-phone {
    flex: 1;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    & .weeks {
        display: flex;
        width: 100%;
        padding-top: 16px;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        & div {
            display: flex;
            flex: 1;
            align-items: center;
            gap: 10px;
        }

        & div.btns-weeks {
            flex: 2;
        }

        @media (width <=768px) {
            flex-direction: column;
            justify-content: start;
            justify-items: center;
            align-items: unset;

            & div.btns-weeks {
                justify-content: space-between;
                flex: 1
            }
        }
    }
}

#nucleos-select {
    display: none;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    & select,
    & option {
        font-weight: 100;
        font-size: 1.05rem;
        color: var(--text-mute-color);
        background-color: var(--bg-color);
    }

    &.show {
        display: flex;
        justify-content: space-between;
    }
}

.table-container {
    overflow-x: auto;
    margin-bottom: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--bg-color);
}

th,
td {
    width: 20px;
    border: 1px solid #d1d5db;
    padding: 12px;
    text-align: center
}

th {
    background: #f3f4f6;
    font-weight: 600;
    color: var(--text-color);
    position: sticky;
    top: 0;
    z-index: 5;
}

td {
    cursor: default;
    pointer-events: none;

    &.summary {
        font-weight: 600;
        font-size: 1.05rem;
        cursor: default !important;
    }

    & .summary {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        font-weight: 400;
        font-size: 1rem;
        gap: 10px;

        @media (width <=768px) {
            flex-direction: column;
        }
    }

    & .delete {
        position: relative;
        top: -1em;
        left: .5em;
        color: #f3ecec;

        &:hover {
            color: #a51c1c;
        }
    }

    &.alterable,
    &:has(.current-week) {
        pointer-events: all
    }
}

td:first-child,
th:first-child {
    position: sticky;
    left: 0;
    text-align: left;
    z-index: 10;
}

td:first-child {
    cursor: pointer;
    pointer-events: all;
}

tbody tr:hover {
    background: #f9fafb;
}

a {
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
        color: #14357d;
    }
}

.presence {
    width: 32px;
    height: 32px;
    border: none;
    border-radius: var(--border-radius);
    transition: all 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    background: #e5e7eb;

    &.current-week,
    &.alterable {
        cursor: pointer;
        pointer-events: all
    }

    @media (width <=768px) {
        width: 28px;
        height: 28px;
    }

    &.present {
        font-weight: 100;
        background: var(--presence-color);
        color: white;
    }

    &:hover {
        transform: scale(1.1);
    }
}

.total-cell {
    background: #eff6ff;
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;

    & td {
        cursor: default;
    }

    & .total-present {
        color: var(--presence-color);
    }
}

.instructions {
    background-color: var(--bg-color);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 16px;
}

.instructions h2 {
    font-size: 1.3rem;
    color: var(--text-color);
    margin-bottom: 12px;
}

.instructions ul {
    list-style: none;
    color: #4b5563;
    font-size: 1rem;
}

.instructions li {
    margin-bottom: 6px;
}

#loading {
    position: fixed;
    display: flex;
    width: 10vw;
    height: 10vh;
    margin-top: 60px;
    align-self: center;
    justify-self: center;
    justify-content: center;
    z-index: 1000;

    & img {
        width: 64px;
        height: 64px;
    }
}

.htmx-indicator {

    display: inline;
}

.htmx-request .htmx-indicator {
    display: inline;
}

.htmx-request.htmx-indicator {
    display: inline;
}

#toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    padding: 12px 24px;
    font-size: 1.05rem;
    font-weight: 500;
    color: var(--text-iverted-color);
    background-color: var(--bg-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
    transform: translateX(-50%);
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
    opacity: 0;
    z-index: 1000;

    &.show {
        opacity: 1;
    }

    @media (width <=768px) {
        width: 90%;
    }
}